@font-face {
  font-family: 'ConforterBrush';
  src: url('~assets/fonts/ComforterBrushRegular.ttf') format('truetype');
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
  min-width: 100%;
}
